@import url("https://use.typekit.net/gto5xbw.css");

/* Print as tabloid size */
#__next {
  width: 11in;
  height: 17in;
}

@page {
  size: 11in 17in;
}

@media print {
  body {
    margin: 0mm;
    padding: 0mm;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen {
  #__next {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    overflow: hidden;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}
