@import url("https://use.typekit.net/rns2gce.css");

/* Print as tabloid size */
#root {
  width: 11in;
  height: 17in;
}

@page {
  size: 11in 17in;
}

@media print {
  body {
    margin: 0mm;
    padding: 0mm;
  }
}

@media screen {
  #root {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
  }
}

body {
  margin: 0px;
  padding: 0px;

  font-size: 11pt;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  background-color: #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
}
